{:deps {:aliases [:dev]}
 :dev-http {8084 ["resources/public" "classpath:public"]}
 :builds
 {:app
  {:target :browser
   :modules {:main {:init-fn parens.dev/main}}
   :dev {:output-dir "resources/public/js"}
   :compiler-options {:externs ["datascript/externs.js"]}}}}
